<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>


<div id="start">
  <div class="text-center">
    <br>

    <div class="text-center">
      <br>
      <h2>Ready to Play?</h2>
      <br>
      <br><br>
      <div class="col-md-6 mx-auto">
      <a id="start-btn" class="btn btn-outline-success btn-xl"  href="#">Start the Quiz!</a>
      <br><br><br><br>
      <a id="leaderboard-btn" class="btn btn-link">Leaderboard</a> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="countries-btn" class="btn btn-link">Countries</a>
     
      </div>
    </div>
  </div>
</div>


<div id="quiz" class="text-center d-none">
  <div id="progress" style="height:10px"></div>
  <br><br>
  <div class="col-md-9 text-right">
    <a id="close-btn" class="btn btn-outline-secondary btn-sm" href="#">Close Quiz</a>
  </div>


  <div id="country-image"></div>
  <br><br>
  <div>
    <div class="correct d-none text-center">
    <i class="fas fa-check-circle fa-3x"></i>
    </div>
    <div class="wrong d-none text-center">
    <i class="fas fa-times-circle fa-3x"></i>
    Correct answer: <strong><span class="align-middle" id="correct-answer"></span></strong>
    </div>
    <br>
    <input class="form-control answer-field" id="answer" type="text" name="answer" placeholder="Type the country and press enter..."><br>
    <a id="check-answer-btn" class="btn btn-outline-success btn-xl" href="#">Check Answer</a>
    </div> 
    <div class="col-md-6 mx-auto">
    <a id="continue-btn" class="btn btn-outline-success btn-xl d-none"  href="#">Continue</a><br>
    </div>
    {{!-- <p>( <span id="country"></span> )</p> --}}
  </div>
</div>
  
<div id="results" class="text-center d-none">
  <br>
  <br>
  <div id="results-list"></div>
  <br>  
  <br>
  <div class="col-md-6 mx-auto">
    <a id="play-again-btn" class="btn btn-outline-success btn-xl"  href="/quiz/geo">Continue</a>
  </div>
  <br><br><br>
</div>

<div id="leaderboard-section" class="text-center d-none">
  <br><br>
  <h2>Leaderboard</h2>
  <br><br>

  <div class="container">
  <div id="leaderboard-list"></div>
  </div>

  <br>  
  <br>
  <div class="col-md-6 mx-auto">
    <a class="btn btn-outline-success btn-xl"  href="/quiz/geo">Continue</a>
  </div>
  <br><br><br>
</div>

<div id="countryScores-section" class="text-center d-none">
  <br><br>
  <h2>These countries are the most well-known by all players.</h2>
  <br><br>

  <div class="container">
  <div id="countryScores-list"></div>
  </div>

  <br>  
  <br>
  
  <a class="btn btn-outline-success btn-xl"  href="/quiz/geo">Continue</a>
 
  </div>
  <br><br><br>
</div>






{{!-- jQuery CDN --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{{!-- Bootstrap-related CDN --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

{{!-- Axios CDN --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{{!-- Practice Apps --}}
<script src="/js/quiz/geo.js"></script>

{{!-- Kludgy data transport to app --}}
<script id="countries_data" type="text/javascript">{{{countries}}}</script>
<script id="username_data" type="text/javascript">"{{{username}}}"</script>
<script id="userk_data" type="text/javascript">{{{userk}}}</script>
<script id="leaderboard_data" type="text/javascript">{{{leaderboard}}}</script>
<script id="countryScores_data" type="text/javascript">{{{countryScores}}}</script>

</body>
</html>